* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, #e2e2e2, #c9d6ff);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}